---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>__FEATURE_NAME__</title>
  </head>
  <body>
    <main>
      <h1>__FEATURE_NAME__</h1>
    </main>
  </body>
</html>
