# dependencies
node_modules
.pnpm-store

# build outputs
dist
.next
.astro
build

# turbo
.turbo

# env
.env
.env.local
.env.*.local
!.env.example

# editor
.DS_Store
.vscode
.idea

# logs
*.log
npm-debug.log*
pnpm-debug.log*
